/* Colors */
/* Fonts */
/* Media queries breakpoints */
/* Mixin to manage responsive breakpoints */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.h--lg {
  font-size: 1.34rem;
}

@media (min-width: 769px) {
  .h--lg {
    font-size: 1.45rem;
  }
}

@media (min-width: 1025px) {
  .h--lg {
    font-size: 2.2rem;
  }
}

.h--md {
  font-size: 1.1rem;
}

@media (min-width: 769px) {
  .h--md {
    font-size: 1.43rem;
  }
}

@media (min-width: 1025px) {
  .h--md {
    font-size: 1.55rem;
  }
}

.text--big {
  font-size: 0.91rem;
  line-height: 1.5;
}

@media (min-width: 1025px) {
  .text--big {
    font-size: 1rem;
  }
}

.text--md {
  font-size: 0.79rem;
  line-height: 1.5;
  color: #808d99;
}

@media (min-width: 1025px) {
  .text--md {
    font-size: 1rem;
  }
}

@keyframes btn-shake {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
}

.cta--md {
  position: relative;
  font-size: 0.68rem;
  width: 240px;
  height: 38px;
  background: #ff52bf;
  color: #fff;
  box-shadow: 0px 7px 14px -8px #ff52bf;
}

@media (min-width: 481px) {
  .cta--md {
    width: 260px;
    height: 50px;
  }
}

@media (min-width: 769px) {
  .cta--md::before, .cta--md::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #ff85d2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in;
    z-index: -1;
  }
  .cta--md::after {
    left: unset;
    right: 0;
    transform-origin: right;
  }
  .cta--md:hover::before, .cta--md:hover::after, .cta--md:hover::after {
    transform: scaleX(1);
  }
}

@media (min-width: 1025px) {
  .cta--md {
    font-size: 0.78rem;
    width: 280px;
    height: 56px;
  }
}

.cta--sm {
  position: relative;
  width: 95px;
  height: 24px;
  background: #fff;
  font-size: 0.58rem;
  color: #000;
  box-shadow: 0px 7px 14px -8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 481px) {
  .cta--sm {
    width: 150px;
    height: 40px;
    font-size: 0.65rem;
  }
}

@media (min-width: 769px) {
  .cta--sm {
    width: 200px;
    height: 48px;
    font-size: 0.78rem;
    transition: color 300ms ease-in;
  }
  .cta--sm:hover {
    color: gray;
    animation: btn-shake 500ms ease-in;
  }
}

.kv {
  background: url("../../assets/img/bg-hero-mobile.svg"), #ebfbff;
  background-repeat: no-repeat;
}

@media (min-width: 769px) {
  .kv {
    background: url("../../assets/img/bg-hero-desktop.svg"), #ebfbff;
    background-repeat: no-repeat;
  }
}

.kv__container {
  display: flex;
  flex-flow: column;
  padding: 12px 17px 30px 17px;
}

@media (min-width: 769px) {
  .kv__container {
    padding: 51px 30px 65px 30px;
    max-width: 1340px;
    margin: 0 auto;
  }
}

.kv__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  height: 50px;
}

@media (min-width: 1025px) {
  .kv__header {
    margin-bottom: 60px;
  }
}

.kv__header-logo img {
  width: 101px;
}

@media (min-width: 481px) {
  .kv__header-logo img {
    width: 60%;
  }
}

@media (min-width: 769px) {
  .kv__header-logo img {
    width: 83%;
  }
}

.kv__content {
  display: flex;
  flex-flow: column;
}

@media (min-width: 769px) {
  .kv__content {
    flex-flow: row;
  }
}

.kv__info {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-bottom: 55px;
}

@media (min-width: 769px) {
  .kv__info {
    align-items: flex-start;
    text-align: left;
    flex: 1 0 44%;
    margin-right: 20px;
  }
}

@media (min-width: 1025px) {
  .kv__info {
    min-width: 435px;
  }
}

.kv__info-heading {
  max-width: 323px;
  margin-bottom: 23px;
}

@media (min-width: 481px) {
  .kv__info-heading {
    max-width: 370px;
  }
}

@media (min-width: 769px) {
  .kv__info-heading {
    max-width: 320px;
  }
}

@media (min-width: 1025px) {
  .kv__info-heading {
    max-width: 454px;
    margin-top: 98px;
    margin-bottom: 28px;
  }
}

.kv__info-subheading {
  max-width: 315px;
  margin-bottom: 34px;
}

@media (min-width: 481px) {
  .kv__info-subheading {
    max-width: 450px;
  }
}

@media (min-width: 1025px) {
  .kv__info-subheading {
    max-width: 520px;
  }
}

.kv__hero {
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) {
  .kv__hero {
    justify-content: flex-end;
    align-items: center;
  }
}

.kv__hero img {
  width: 88%;
}

@media (min-width: 1025px) {
  .kv__hero img {
    width: 100%;
  }
}

.features__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 20px;
  margin-top: 60px;
  margin-bottom: 227px;
}

@media (min-width: 481px) {
  .features__container {
    margin-top: 157px;
    margin-bottom: 227px;
    padding: 0 50px;
  }
}

@media (min-width: 1025px) {
  .features__container {
    padding: 0 100px;
  }
}

.features__card {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  padding: 57px 36px 34px 36px;
}

@media (min-width: 769px) {
  .features__card {
    flex-flow: row;
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .features__card {
    height: 440px;
    max-width: 1230px;
    width: 100%;
    padding-left: 116px;
  }
}

.features__card:not(:last-child) {
  margin-bottom: 38px;
}

@media (min-width: 769px) {
  .features__card--reverse {
    flex-flow: row-reverse;
  }
  .features__card--reverse .features__card-image {
    justify-content: flex-start;
  }
}

.features__card-image {
  margin-bottom: 50px;
}

@media (min-width: 769px) {
  .features__card-image {
    flex: 1 0 50%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    order: 1;
  }
}

.features__card-image img {
  width: 83%;
  max-width: 400px;
}

@media (min-width: 769px) {
  .features__card-content {
    flex: 1 0 50%;
    order: 0;
  }
}

.features__card-heading {
  margin-bottom: 15px;
}

@media (min-width: 1025px) {
  .features__card-desc {
    max-width: 500px;
  }
}
/*# sourceMappingURL=main.css.map */