/* Colors */
/* Fonts */
/* Media queries breakpoints */
/* Mixin to manage responsive breakpoints */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.h--lg {
  font-size: 1.34rem;
}

@media (min-width: 769px) {
  .h--lg {
    font-size: 1.45rem;
  }
}

@media (min-width: 1025px) {
  .h--lg {
    font-size: 2.2rem;
  }
}

.h--big {
  font-size: 1rem;
}

@media (min-width: 769px) {
  .h--big {
    font-size: 1.4rem;
  }
}

@media (min-width: 1025px) {
  .h--big {
    font-size: 1.76rem;
  }
}

.h--md {
  font-size: 1.1rem;
}

@media (min-width: 769px) {
  .h--md {
    font-size: 1.43rem;
  }
}

@media (min-width: 1025px) {
  .h--md {
    font-size: 1.55rem;
  }
}

.text--big {
  font-size: 0.91rem;
  line-height: 1.5;
}

@media (min-width: 1025px) {
  .text--big {
    font-size: 1rem;
  }
}

.text--md {
  font-size: 0.79rem;
  line-height: 1.5;
  color: #808d99;
}

@media (min-width: 1025px) {
  .text--md {
    font-size: 1rem;
  }
}

@keyframes btn-shake {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes socials-link-shake {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes kv-hero-popup {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes kv-info-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes card-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes card-slide-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes card-slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes footer-start-scale {
  0% {
    opacity: 0;
    transform: translate(-50%, -100px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
}

.cta:focus {
  outline: 1px dotted #d5d9dd;
  outline-offset: 5px;
}

.cta--lg {
  position: relative;
  font-size: 0.68rem;
  width: 240px;
  height: 38px;
  background: #ff52bf;
  color: #fff;
  box-shadow: 0px 7px 14px -8px #ff52bf;
}

@media (min-width: 481px) {
  .cta--lg {
    width: 260px;
    height: 50px;
  }
}

@media (min-width: 769px) {
  .cta--lg::before, .cta--lg::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #ff85d2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in;
    z-index: -1;
  }
  .cta--lg::after {
    left: unset;
    right: 0;
    transform-origin: right;
  }
  .cta--lg:hover::before, .cta--lg:hover::after, .cta--lg:hover::after {
    transform: scaleX(1);
  }
}

@media (min-width: 1025px) {
  .cta--lg {
    font-size: 1.1rem;
    width: 400px;
    height: 80px;
  }
}

.cta--md {
  position: relative;
  font-size: 0.68rem;
  width: 240px;
  height: 38px;
  background: #ff52bf;
  color: #fff;
  box-shadow: 0px 7px 14px -8px #ff52bf;
}

@media (min-width: 481px) {
  .cta--md {
    width: 260px;
    height: 50px;
  }
}

@media (min-width: 769px) {
  .cta--md::before, .cta--md::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #ff85d2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in;
    z-index: -1;
  }
  .cta--md::after {
    left: unset;
    right: 0;
    transform-origin: right;
  }
  .cta--md:hover::before, .cta--md:hover::after, .cta--md:hover::after {
    transform: scaleX(1);
  }
}

@media (min-width: 1025px) {
  .cta--md {
    font-size: 0.78rem;
    width: 280px;
    height: 56px;
  }
}

.cta--sm {
  position: relative;
  width: 95px;
  height: 24px;
  background: #fff;
  font-size: 0.58rem;
  color: #000;
  box-shadow: 0px 7px 14px -8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 481px) {
  .cta--sm {
    width: 150px;
    height: 40px;
    font-size: 0.65rem;
  }
}

@media (min-width: 769px) {
  .cta--sm {
    width: 200px;
    height: 48px;
    font-size: 0.78rem;
    transition: color 300ms ease-in;
  }
  .cta--sm:hover {
    color: gray;
    animation: btn-shake 500ms ease-in;
  }
}

.kv {
  background: url("../../assets/img/bg-hero-mobile.svg"), #ebfbff;
  background-repeat: no-repeat;
}

@media (min-width: 769px) {
  .kv {
    background: url("../../assets/img/bg-hero-desktop.svg"), #ebfbff;
    background-repeat: no-repeat;
  }
}

.kv__container {
  display: flex;
  flex-flow: column;
  padding: 12px 17px 30px 17px;
  margin-bottom: 60px;
}

@media (min-width: 769px) {
  .kv__container {
    padding: 51px 30px 65px 30px;
    max-width: 1340px;
    margin: 0 auto;
    margin-bottom: 157px;
  }
}

.kv__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  height: 50px;
}

@media (min-width: 1025px) {
  .kv__header {
    margin-bottom: 60px;
  }
}

.kv__header-logo img {
  width: 101px;
}

@media (min-width: 481px) {
  .kv__header-logo img {
    width: 60%;
  }
}

@media (min-width: 769px) {
  .kv__header-logo img {
    width: 83%;
  }
}

.kv__content {
  position: relative;
  display: flex;
  flex-flow: column;
}

@media (min-width: 769px) {
  .kv__content {
    flex-flow: row;
  }
}

.kv__info {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-bottom: 55px;
  animation: kv-info-slide-left 1000ms ease-in-out;
}

@media (min-width: 769px) {
  .kv__info {
    align-items: flex-start;
    text-align: left;
    flex: 1 0 44%;
    margin-right: 20px;
  }
}

@media (min-width: 1025px) {
  .kv__info {
    min-width: 435px;
  }
}

.kv__info-heading {
  max-width: 323px;
  margin-bottom: 23px;
}

@media (min-width: 481px) {
  .kv__info-heading {
    max-width: 370px;
  }
}

@media (min-width: 769px) {
  .kv__info-heading {
    max-width: 320px;
  }
}

@media (min-width: 1025px) {
  .kv__info-heading {
    max-width: 454px;
    margin-top: 98px;
    margin-bottom: 28px;
  }
}

.kv__info-subheading {
  max-width: 315px;
  margin-bottom: 34px;
}

@media (min-width: 481px) {
  .kv__info-subheading {
    max-width: 450px;
  }
}

@media (min-width: 1025px) {
  .kv__info-subheading {
    max-width: 520px;
  }
}

.kv__hero {
  position: relative;
  display: flex;
  justify-content: center;
  animation: kv-hero-popup 1000ms ease-in-out;
}

@media (min-width: 769px) {
  .kv__hero {
    justify-content: flex-end;
    align-items: center;
  }
}

.kv__hero img {
  width: 88%;
}

@media (min-width: 1025px) {
  .kv__hero img {
    width: 100%;
  }
}

.features__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 227px;
}

@media (min-width: 481px) {
  .features__container {
    margin-bottom: 227px;
    padding: 0 50px;
  }
}

@media (min-width: 1025px) {
  .features__container {
    padding: 0 100px;
    margin-bottom: 350px;
  }
}

.features__card {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  padding: 57px 36px 34px 36px;
  opacity: 0;
}

@media (min-width: 769px) {
  .features__card {
    flex-flow: row;
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .features__card {
    height: 440px;
    max-width: 1230px;
    width: 100%;
    padding-left: 116px;
  }
}

.features__card:not(:last-child) {
  margin-bottom: 38px;
}

@media (min-width: 769px) {
  .features__card--reverse {
    flex-flow: row-reverse;
  }
  .features__card--reverse .features__card-image {
    justify-content: flex-start;
  }
}

.features__card.active:first-child {
  animation: card-slide-left 1000ms ease-in forwards;
}

.features__card.active:nth-child(2) {
  animation: card-slide-right 1000ms ease-in forwards;
}

.features__card.active:last-child {
  animation: card-slide-bottom 1000ms ease-in forwards;
}

.features__card-image {
  margin-bottom: 50px;
}

@media (min-width: 769px) {
  .features__card-image {
    flex: 1 0 50%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    order: 1;
  }
}

.features__card-image img {
  width: 83%;
  max-width: 400px;
}

@media (min-width: 769px) {
  .features__card-content {
    flex: 1 0 50%;
    order: 0;
  }
}

.features__card-heading {
  margin-bottom: 15px;
}

@media (min-width: 1025px) {
  .features__card-desc {
    max-width: 500px;
  }
}

.footer {
  position: relative;
  background: #00252e;
}

.footer__start {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  top: -119px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  max-width: 500px;
  padding: 44px 0 40px 0;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.footer__start.active {
  animation: footer-start-scale 1000ms ease-in forwards;
}

@media (min-width: 769px) {
  .footer__start {
    top: -161px;
    padding: 65px 0 53px 0;
  }
}

@media (min-width: 1025px) {
  .footer__start {
    top: -183px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
  }
}

.footer__start-heading {
  margin-bottom: 26px;
}

@media (min-width: 769px) {
  .footer__start-heading {
    margin-bottom: 34px;
  }
}

.footer__container {
  display: flex;
  flex-flow: column;
  padding: 139px 15px 50px 15px;
}

@media (min-width: 769px) {
  .footer__container {
    padding: 139px 30px 50px 30px;
  }
}

@media (min-width: 1025px) {
  .footer__container {
    max-width: 1258px;
    margin: 0 auto;
    padding-top: 190px;
  }
}

.footer__logo {
  margin-bottom: 10px;
}

@media (min-width: 1025px) {
  .footer__logo {
    margin-bottom: 36px;
  }
}

.footer__logo g {
  transform: scale(0.7);
}

@media (min-width: 1025px) {
  .footer__logo g {
    transform: scale(1);
  }
}

.footer__content {
  display: flex;
  flex-flow: column;
}

@media (min-width: 769px) {
  .footer__content {
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.footer__contact {
  margin-bottom: 50px;
}

@media (min-width: 769px) {
  .footer__contact {
    margin-bottom: 0;
  }
}

@media (min-width: 1025px) {
  .footer__contact {
    flex: 2;
    margin-right: 48px;
  }
}

.footer__contact-list {
  list-style: none;
}

.footer__contact-item {
  display: flex;
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 30px;
}

.footer__contact-icon {
  width: 30px;
  margin-right: 10px;
}

.footer__contact-text {
  font-size: 0.89rem;
  color: #fff;
  max-width: 300px;
}

@media (min-width: 1025px) {
  .footer__contact-text {
    max-width: 340px;
  }
}

.footer__contact-link {
  color: #fff;
  text-decoration: none;
}

.footer__contact-link:focus {
  outline: 1px dotted #d5d9dd;
  outline-offset: 5px;
}

.footer__nav {
  margin-bottom: 60px;
}

@media (min-width: 769px) {
  .footer__nav {
    margin-bottom: 0;
  }
}

@media (min-width: 1025px) {
  .footer__nav {
    flex: 2;
  }
}

.footer__nav-list {
  display: flex;
  flex-flow: column;
  list-style: none;
}

@media (min-width: 1025px) {
  .footer__nav-list {
    flex-flow: wrap column;
    height: 130px;
  }
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 18px;
}

.footer__nav-link {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.footer__nav-link:focus {
  outline: 1px dotted #d5d9dd;
  outline-offset: 5px;
}

.footer__nav-link::before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform-origin: center;
  transform: scale(0);
  transition: transform 250ms ease-in-out;
}

.footer__nav-link:hover::before {
  transform: scale(1);
}

.footer__socials {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

@media (min-width: 769px) {
  .footer__socials {
    margin-bottom: 0;
  }
}

@media (min-width: 1025px) {
  .footer__socials {
    justify-content: flex-start;
    flex: 1;
  }
}

.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 0.8rem;
  transition: border 250ms ease-in-out, background 250ms ease-in-out;
}

.footer__socials-link:focus {
  outline: 1px dotted #d5d9dd;
  outline-offset: 5px;
}

.footer__socials-link:not(:last-child) {
  margin-right: 15px;
}

.footer__socials-link:hover {
  border-color: #ff52bf;
  background: #ff52bf;
  animation: socials-link-shake 500ms ease-in;
}

.footer__copyrights {
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) {
  .footer__copyrights {
    justify-content: flex-end;
  }
}

.footer__copyrights-text {
  font-size: 0.63rem;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */