.kv {
    background: url('../../assets/img/bg-hero-mobile.svg'), $c-cyan-very-pale;
    background-repeat: no-repeat;

    &__container {
        display: flex;
        flex-flow: column;
        padding: 12px 17px 30px 17px;
        
        @media (min-width: 769px) {
            padding: 51px 30px 65px 30px;
            max-width: 1340px;
            margin: 0 auto;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        height: 50px;

        @media (min-width: 1025px) {
            margin-bottom: 60px;
        }
    }

    &__header-logo {
        img {
            width: 101px;

            @media (min-width: 481px) {
                width: 60%;
            }

            @media (min-width: 769px) {
                width: 83%;
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: column;

        @media (min-width: 769px) {
            flex-flow: row;
        }
    }

    &__info {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        margin-bottom: 55px;

        @media (min-width: 769px) {
            align-items: flex-start;
            text-align: left;
            flex: 1 0 44%;
            margin-right: 20px;
        }
    }

    &__info-heading {
        max-width: 323px;
        margin-bottom: 23px;

        @media (min-width: 481px) {
            max-width: 370px;
        }

        @media (min-width: 769px) {
            max-width: 320px;
        }

        @media (min-width: 1025px) {
            max-width: 454px;
            margin-top: 98px;
            margin-bottom: 28px;
        }
    }

    &__info-subheading {
        max-width: 315px;
        margin-bottom: 34px;

        @media (min-width: 481px) {
            max-width: 450px;
        }

        @media (min-width: 1025px) {
            max-width: 520px;
        } 
    }

    &__hero {
        display: flex;
        justify-content: center;

        @media (min-width: 769px) {
            justify-content: flex-end;
            align-items: center;
        }

        img {
            width: 88%;

            @media (min-width: 1025px) {
                width: 100%;
            }
        }
    }
}