.kv {
    background: url('../../assets/img/bg-hero-mobile.svg'), $c-cyan-very-pale;
    background-repeat: no-repeat;

    @include breakpoint('md') {
        background: url('../../assets/img/bg-hero-desktop.svg'), $c-cyan-very-pale;
        background-repeat: no-repeat; 
    }

    &__container {
        display: flex;
        flex-flow: column;
        padding: 12px 17px 30px 17px;
        margin-bottom: 60px;
        
        @include breakpoint('md') {
            padding: 51px 30px 65px 30px;
            max-width: 1340px;
            margin: 0 auto;
            margin-bottom: 157px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        height: 50px;

        @include breakpoint('lg') {
            margin-bottom: 60px;
        }
    }

    &__header-logo {
        img {
            width: 101px;

            @include breakpoint('sm') {
                width: 60%;
            }

            @include breakpoint('md') {
                width: 83%;
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: column;

        @include breakpoint('md') {
            flex-flow: row;
        }
    }

    &__info {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        margin-bottom: 55px;
        animation: kv-info-slide-left 1000ms ease-in-out;

        @include breakpoint('md') {
            align-items: flex-start;
            text-align: left;
            flex: 1 0 44%;
            margin-right: 20px;
        }

        @include breakpoint('lg') {
            min-width: 435px;
        }
    }

    &__info-heading {
        max-width: 323px;
        margin-bottom: 23px;

        @include breakpoint('sm') {
            max-width: 370px;
        }

        @include breakpoint('md') {
            max-width: 320px;
        }

        @include breakpoint('lg') {
            max-width: 454px;
            margin-top: 98px;
            margin-bottom: 28px;
        }
    }

    &__info-subheading {
        max-width: 315px;
        margin-bottom: 34px;

        @include breakpoint('sm') {
            max-width: 450px;
        }

        @include breakpoint('lg') {
            max-width: 520px;
        } 
    }

    &__hero {
        display: flex;
        justify-content: center;
        animation: kv-hero-popup 1000ms ease-in-out;

        @include breakpoint('md') {
            justify-content: flex-end;
            align-items: center;
        }

        img {
            width: 88%;

            @include breakpoint('lg') {
                width: 100%;
            }
        }
    }
}