.h {

    &--lg {
        font-size: 1.34rem;

        @include breakpoint('md') {
            font-size: 1.45rem;
        }

        @include breakpoint('lg') {
            font-size: 2.2rem;
        }
    }

    &--md {
        font-size: 1.1rem;

        @include breakpoint('md') {
            font-size: 1.43rem;
        }

        @include breakpoint('lg') {
            font-size: 1.55rem;
        }
    }
}

.text {

    &--big {
        font-size: 0.91rem;
        line-height: 1.5;

        @include breakpoint('lg') {
            font-size: 1rem;
        }
    }

    &--md {
        font-size: 0.79rem;
        line-height: 1.5;
        color: $c-blue-dark;

        @include breakpoint('lg') {
            font-size: 1rem;
        }
    }
}