/* Colors */
$c-pink: hsl(322, 100%, 66%);
$c-cyan-very-pale: hsl(193, 100%, 96%);
$c-cyan-very-dark: hsl(192, 100%, 9%);
$c-blue-dark: hsl(208, 11%, 55%);

/* Fonts */
$ff-primary: 'Open Sans', sans-serif;
$ff-secondary: 'Poppins', sans-serif;

/* Media queries breakpoints */
$breakpoints: (
  'sm':  481px,
  'md': 769px,
  'lg':  1025px
);